.nav_bar {
	height: 40px;
	padding-top: 5px;
	margin-left: 0;
	margin-right: auto;
	position: fixed;
	top: 0;
	z-index: 8;
	width: 100%;
	background-color: #1d1d1d;
	overflow: hidden;
	color: #919191;
	border-bottom: 1px solid #2f2f2f;
	backface-visibility: hidden;
}

.pull-left {
	float: left!important;
}

div {
	display: block;
}

a {
	text-decoration: none!important;
}

.start-head p{
	font-size: 0.95em;
	color: #ccc;
	width: 650px;
	margin-left: 0 auto;
	line-height: 21px;
	margin-bottom: 30px;
}